*{
  	margin: 0;
  	padding: 0;
}
body{
	font-family: "arial";
}
body{
	table{
		width: 815px;
		border-spacing: 0;
		border-left: 1px solid #dadada;
		border-top: 1px solid #dadada;
		border-right: 1px solid #dadada;
		tr{
			width: 100%;
			line-height: 58px;
			font-size: 18px;
			color: #666666;
			th{
				width: 20%;
				border-bottom: 1px solid #dadada;
			}
			td{
				width: 20%;
				border-bottom: 1px solid #dadada;
				text-align: center;
			}
		}
	}
}